<tr>
  <td><%= guest_list.first_name %></td>
  <td><%= guest_list.last_name %></td>
  <td><%= guest_list.email %></td>
  <td><%= link_to 'Show', wedding_guest_list_path(@wedding, guest_list) %></td>
  <td><%= link_to 'Edit', edit_wedding_guest_list_path(@wedding, guest_list) %></td>
  <td><%= link_to 'Destroy', wedding_guest_list_path(@wedding, guest_list), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_guest_list' %></td>
</tr>