<!DOCTYPE html>
<html lang="en">
  <head>
  <%= stylesheet_link_tag "landing", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>WeddingApp</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/assets/styles.css" rel="stylesheet">
  </head>

  <body>
  

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Wedding</h3>
              <ul class="nav masthead-nav">
                <li class="active"><%= link_to("Sign In", login_path) %> </li>
                <li> <%= link_to("Find Wedding", register_path) %> </li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Wedding App</h1>
            <p class="lead">Create your own wedding app, so your guests can be up to date with all the important wedding information</p>
            <p class="lead">
              <br><%= link_to 'New Wedding', register_wedding_path, class: "btn btn-lg btn-default" %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Wedding App 2015</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
</html>
