 <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                
               
              
                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->                      
                        <div class="row">
                          
                         <!-- main col left --> 
                         <div class="panel panel-default">
                                <div class="panel-heading"> Venue
                                </div>
                                <div class="panel-body">

        <p>
          <strong>Venue</strong>
        </p>
      </div>
        
      
        <% if @wedding.venues.blank? %>
        

         
          <%= link_to "Create a Venue", new_wedding_venue_path(@wedding), class: "btn btn-info" if current_user.admin%> 
       </div>

        <%else %>

        <div class="panel-body">

          <% @wedding.venues.reload %>
          <p>
          <strong>Name:</strong>
          <%= @wedding.venues.first.name %>
          </p>

          <p>
          <strong>Description:</strong>
          <%= @wedding.venues.first.description %>
          </p>

          <p>
          <strong>Street:</strong>
          <%= @wedding.venues.first.street %>
          </p>

          <p>
          <strong>City:</strong>
          <%= @wedding.venues.first.city %>
          </p>


          <p>
          <strong>Zip:</strong>
          <%= @wedding.venues.first.zip %>
          </p>

          <p>
          <strong>State:</strong>
          <%= @wedding.venues.first.state %>
          </p>

          <p>
          <strong>URL:</strong>
          <%= @wedding.venues.first.url %>
          </p>
        </div>
        <div class="panel-footer">

        <%= link_to 'Edit', edit_wedding_venue_path(@wedding, @wedding.venues.first) %> 
        <%= link_to 'Back', weddings_path %>
        <%= link_to 'Delete', wedding_venue_path(@wedding, @wedding.venues.first), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

        
       <%end%>

  </div>
</div>
</div>