<%= simple_form_for(@wedding, html: {class: "well"}) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="document">
  
    
    <%= f.input :attachment, as: :file %>
    
</div>

  <div class="field">
    <%= f.input :name %><br>
    
  </div>
  <div class="field">
    <%= f.input :bride %><br>
    
  </div>
  <div class="field">
    <%= f.input :groom %><br>
    
  </div>
  <div class="field">
    <%= f.input_field :date, as: :date %><br>


    
  </div>

  
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
