<%= simple_form_for @wedding, html: {class: "form-horizontal", :multipart => true} do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <legend>Wedding Picture</legend>





    <legend>About My Wedding</legend>
  <div class="field">
    <%= f.input :name %><br>
    
 
    <%= f.input :bride %><br>
    

    <%= f.input :groom %><br>
    
 
    <%= f.input_field :date, as: :date %><br>


    
  </div>
  


  
  
    <%= f.button :submit %>
  
<% end %>
