<%= simple_form_for @wedding, html: {class: "form-horizontal", :multipart => true} do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <legend>Wedding Picture</legend>

<div class="control-group">
    <%= f.label :site_contents, :class => 'control-label' %>
    <div class="controls">
      <!-- The magic is coming ...look at my eyes....shazammmm -->
      <!-- Use HTML5 multiple attribute to enable multiple selection
           and pass back to controller all files as an array, ready 
           for paperclip!!
           file_field_tag, since images is not a gallery attribute
       -->
      <%= file_field_tag "pictures[]", type: :file, multiple: true %>
    </div>
  </div>



    <legend>About My Wedding</legend>
  <div class="field">
    <%= f.input :name %><br>
    
 
    <%= f.input :bride %><br>
    

    <%= f.input :groom %><br>
    
 
    <%= f.input_field :date, as: :date %><br>


    
  </div>
  


  
  
    <%= f.button :submit %>
  
<% end %>
