<%= simple_form_for(@wedding, html: {class: "form-horizontal"}) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<fieldset>
    <legend>Wedding Picture</legend>

  <div class="document">
  
    <%=f.fields_for :document do |document_fields| %>
    <%= document_fields.input :attachment, as: :file %>
    <% end %>
</div>

</fieldset>
<fieldset>
    <legend>About My Wedding</legend>
  <div class="field">
    <%= f.input :name %><br>
    
  </div>
  <div class="field">
    <%= f.input :bride %><br>
    
  </div>
  <div class="field">
    <%= f.input :groom %><br>
    
  </div>
  <div class="field">
    <%= f.input_field :date, as: :date %><br>


    
  </div>
  </fieldset>


  
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
