<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wedding.name %>
</p>

<p>
  <strong>Bride:</strong>
  <%= @wedding.bride %>
</p>

<p>
  <strong>Groom:</strong>
  <%= @wedding.groom %>
</p>

<p>
  <strong>Date:</strong>
  <%= @wedding.date %>
</p>

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
